:root {
  --navy-blue: #2e2f42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

ul {
  list-style: none;
}

span {
  color: var(--iris-color);
}

h1 {
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

.flex {
  display: flex;
}

.custom-link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
