:root {
  --navy-blue: #2e2f42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--slate-color);
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

ul {
  list-style: none;
}

span {
  color: var(--iris-color);
}

.flex {
    display: flex;
}

.custom-link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
